html, body, div, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 16px;
    color: black;
}

#wrapper {
    width: 960px;
}

    #wrapper .select-list {
        margin-top: 25px;
        margin-left: 25px;
    }

        #wrapper .select-list > ul {
            list-style-type: none;
            display: inline-block;
            overflow-y: scroll;
            width: 150px;
            height: 200px;
            border-radius: 5px;
            background: #8168ff;
            background: -moz-linear-gradient(top, #8168ff 0, white 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8168ff), color-stop(100%, white));
            background: -webkit-linear-gradient(top, #8168ff 0, white 100%);
            background: -o-linear-gradient(top, #8168ff 0, white 100%);
            background: -ms-linear-gradient(top, #8168ff 0, white 100%);
            background: linear-gradient(to bottom, #8168ff 0, white 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top-color', endColorstr='$bottom-color',GradientType=0 );
        }

            #wrapper .select-list > ul li {
                border-bottom: 1px solid black;
                padding: 5px 15px;
            }

                #wrapper .select-list > ul li:first-letter {
                    text-decoration: underline;
                }

                #wrapper .select-list > ul li:last-of-type {
                    border: none;
                }

                #wrapper .select-list > ul li.selected {
                    background: #6C4EFF;
                }

        #wrapper .select-list > a {
            display: inline-block;
            position: relative;
            top: -80px;
        }
