html,
body,
div,
p,
a,
input,
span,
img,
ul,
li,
fieldset,
button,
input,
select,
option,
textarea {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font: 16px;
    color: black;
}

#wrapper {
    width: 960px;
}

#popup-box {
    padding: 15px;
    width: 110px;

    li {
        position: relative;
        padding: 5px;
        border-top: 1px solid black;

        &:last-of-type {
            border-bottom: 1px solid black;
        }

        a {
            color: black;
            text-decoration: none;

            span.current {
                font-weight: bold;
            }

            img {
                width: 25px;
            }
        }
    }

    .popup-content {
        position: absolute;
        top: 0;
        left: 120px;

        & > .btn-popup-close {
            position: absolute;
            top: 10px;
            right: 15px;
            border: 1px solid black;
            border-radius: 5px;
            padding: 0 5px;
            margin: 5px;
        }

        fieldset {
            padding: 15px;

            legend {
                font-weight: bold;
                font-size: 1.1em;
            }

            button {
                padding: 5px 10px;
                border: none;
                border-radius: 15px;
                background: rgb(195,195,195);
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MzYzNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OTU5NTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                background: -moz-linear-gradient(top, rgba(195,195,195,1) 0%, rgba(89,89,89,1) 50%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,195,195,1)), color-stop(50%,rgba(89,89,89,1)));
                background: -webkit-linear-gradient(top, rgba(195,195,195,1) 0%,rgba(89,89,89,1) 50%);
                background: -o-linear-gradient(top, rgba(195,195,195,1) 0%,rgba(89,89,89,1) 50%);
                background: -ms-linear-gradient(top, rgba(195,195,195,1) 0%,rgba(89,89,89,1) 50%);
                background: linear-gradient(to bottom, rgba(195,195,195,1) 0%,rgba(89,89,89,1) 50%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c3c3', endColorstr='#595959',GradientType=0 );
            }
        }
    }


    .invisible {
        display: none;
    }
}
