header, h1 {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 1000px;
    border: 1px solid black;
    border-radius: 10px;
}

header {
    background-color: steelblue;
    padding: 5px;
    text-align: center;
    border-radius: 10px;

    h1 {
        color: indigo;
        font-size: 2em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }

    p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.2em;
        font-style: italic;
    }
}

.styled {
    font-weight: bold;
}
